matplotlib==3.7.0
numpy==1.24.2
onnx==1.13.0
onnxsim==0.4.17
opencv-python==4.7.0.68
Pillow==9.4.0
python-multipart==0.0.5
scipy==1.10.1
setuptools==58.0.4
tensorboard==2.12.0
thop==0.1.1.post2209072238
torch==1.13.1
torchsummary==1.5.1
torchvision==0.14.1
tqdm==4.64.1